<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/style/doctor/doctor_login/doctor_login.css">
  <link rel="stylesheet" href="/static/style/all.min.css">
  <title>Clinic</title>
</head>

<body>
  <a href="/" class="home-btn"><span> صفحۀ اصلی </span> <i class="fa fa-home"></i></a>

  {% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} err-style">
    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" , aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  <div class="container">
    <form method="POST" class="form-signin" , style="color: white;">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">
        لطفاً وارد حساب کاربری خود شوید
      </h1>
      </br>
      {{ form.healthcare_number.label() }}
      {{ form.healthcare_number(class = "form-control h-num", placeholder = "کد سلامت خود را وارد کنید", autocomplete= "off") }}

      </br>
      </br>
      {{ form.password.label() }}
      {{ form.password(class = "form-control", placeholder = "رمز عبور خود را وارد کنید") }}

      </br>

      {{ form.submit(class = "btn btn-lg btn-block btn-primary") }}
    </form>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>
<script>
  const healthcare_number = document.querySelector('.h-num')
  healthcare_number.addEventListener('keydown', e => {
    if ((e.code.slice(0, 3) !== 'Num' && e.code !== 'Backspace' ) || (e.code === 'Backslash' || e.code === 'NumpadDivide' || 
    e.code === 'NumpadMultiply' || e.code === 'NumpadSubtract' || e.code === 'NumpadAdd' || 
    e.code.slice(0, 10) === 'NumpadDeci')) {
      e.preventDefault()
    }
  })
</script>

</html>